* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cornsilk;
}

.container {
    margin: auto;
    padding: auto;
    display: block;
    margin-left: 30%;
}

.gif01 {
    display: flex;
    margin: auto;
    height: 10em;
    margin-top: 20%;
}

.text01 {
    display: flex;
    margin: 10px;
    margin: auto;
    margin-left: -10px;
display: flex
;
    margin: 10px;
    margin: auto;
    font-family: cursive;
    font-size: medium;
    margin-left: -10px;
}
.btn{
    display: flex;
    margin: auto;
    text-align: center;
}
.yesbtn{
    margin: 15px;
    padding: 15px;
    background-color: #fffcfc;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.nobtn{
    margin: 15px;
    padding: 15px;
    background-color: #fffcfc;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
